<header class="post-header">
  <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  {% if page.type %}
  <h1 class="post-title baseline-fix" itemprop="name headline">{{ page.type | capitalize }} · {{ page.title | escape | replace: "​", "<wbr>" | capitalize }}</h1>
  {% else %}
  <h1 class="post-title baseline-fix" itemprop="name headline">{{ page.title | escape | replace: "​", "<wbr>" }}</h1>
  {% endif %}
</header>

{% if page.cover_url %}
<div class="post-cover" aria-label="Cover">
  <div class="post-cover-wrapper">
    <img src="{{ page.cover_url }}" alt="" class="lazyload"/>
  </div>
  <div class="cover-meta">{{ page.cover_meta | markdownify }}</div>
</div>
{% endif %}
